/* Landon Baker 3/17/2024 */

/* Global Backgrounds, Colors, and Widths */
*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: rgb(60, 14, 14); /* Set background color to dark red */
    color: white; /* Set text color to white */
}

.header-container {
    position: relative;
    padding-top: 120px; /* Adjust as needed */
}

header {
    position: relative;
}

header h1, nav ul {
    padding-left: 50px;
}

/* Navbar */
nav {
    background-color: black;
    text-align: left; /* Align text to the left */
}

ul {
    padding-left: 0; /* Remove default padding */
}

li {
    list-style-type: none;
    display: inline-block;
}

ul a {
    display: inline-block;
    padding: 1rem;
    font: bold;
    text-decoration: none;
    color: white;
}

ul a:hover {
    background-color: black;
    color: red;
}

/* Home Page Main Image */
main article img {
    display: block;
    margin: 0 auto; /* Center align images */
    border: 3px double #333;
}

/* Center align content within the article */
article {
    text-align: center;
    padding: 20px; /* Add padding to the article */
}

/* Center align images within figure elements */
figure {
    display: inline-block;
    margin: 0 auto;
}

/* Center align text within figcaption elements */
figcaption {
    text-align: center;
}

/* Sidebar */
aside section {
    background-color: white;
    margin-bottom: 1rem;
    border: 1px solid white;
}

aside h3 {
    background-color: white;
    color: black;
    padding: .5rem;
    margin: 0 0 0 0;
}

aside a {
    display: inline-block;
    padding: .5rem;
}

/* Home Page Columns */
#content-wrapper {
    display: flex;
}

aside {
    order: 2;
    flex: 1;
    background-color: black;
    margin-right: 1rem;
    padding: .5rem;
    position: relative;
    top: 20px;
    flex: 1;
}

aside h2 {
    margin-top: 0;
    white-space: nowrap;
}

#content-wrapper main {
    order: 3;
}

/* Move logo to top left */
#logo {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust left position as needed */
}

/* Footer */
footer {
    background-color: black;
    text-align: center;
    padding: 20px 0;
}
